* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-formas-blancas_79603-1362.jpg?w=996&t=st=1692325432~exp=1692326032~hmac=b5b78d6f8aa6e807956b904f55d94bbad863a994ba4e30b8a8944c0bebaf9598);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin: 0 auto;
 
}

.container {
    display: block;
    border-radius: 20px;
    box-shadow: 2px 3px 10px black;
    padding: 20px;
    background: rgba(238, 234, 234, 0.9);
}
.usuario, .contraseña {
    color: black;
    margin: 8px;
    border-radius: 2px;
    border-color: black;
    padding: 10px;
}
#sesionIni {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flexbox ;
  padding: 5px;
  background: white;
  color: rgb(81, 81, 88);
  border-radius: 2em;
}
#sesionIni:hover {
    color: rgb(81, 81, 88);
    background-color: rgb(197, 197, 224);
}


.bienvenido {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(13, 13, 49); 
}
.checkbox {
    margin-top: 20px;
    margin-right: 4px;
    margin-left: 7px;
    border-color: black;
    background-color: rgb(2, 2, 61);
    font-size: smaller;
}
.form-body { 
    width: 200px;
    min-width: 300px;
    border-radius: 10px;
    margin: 10px;
}

.psw {
    margin-top: 0px;
    margin-left: 150px;
    font-size: smaller;
}

.psw:hover {
    color: rgb(15, 15, 77);
    background-color: rgb(173, 173, 182);
    border-radius: 40px;
    text-align: center;
}

.linkjs {
    position: flex;
    margin-top: 700px;
    text-align: center;
}

.logousuario {
    margin: 30px;
    margin-left: 70px;
    width: 50%;
    height: 50%;
}

