body {
    background-color: rgb(228, 224, 224);
    margin: 0px;
    padding: 0px;
}

.img-main {
    border: 6px solid #fff;
    border-radius: 10px;
}

#container {
    margin-top: 40px;
    display: grid;
    gap: 35px;
    width: 400px;
    float: right;
    height: auto;
}

.chat {
    margin-top: 20px;
}

.card-buy {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    float: right;
}

#carouselExampleCaptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    margin-left: 35%;
    margin-right: 35%;
}

.card-class {

    border: 6px solid #000000;
    border-radius: 10px;
}

#carousel1div {
    width: 700px;
    margin: 5%;
}

#carousel2div {
    width: 400px;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(104, 104, 104, 0.226);
}

.relatedproductsdiv {
    background-color: aliceblue;
    width: 30%;
    border-radius: 15px;
    padding: 3%;
}