body {
    background-color: rgb(228, 224, 224);
    margin: 0px;
    padding: 0px;
}

.img-main {
    border: 6px solid #fff;
    border-radius: 10px;
}

#container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 35px;
}

.chat {
    margin-top: 20px;
}

.card-buy {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    float: right;
}

#carouselExampleCaptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    margin-left: 35%;
    margin-right: 35%;
}

.card-class {
    width: 400px;
    border: 6px solid #fff;
    border-radius: 10px;
}